// COLORS
$light-color-with-opacity: rgba(135, 219, 142, 0.5);
$light-color: rgb(135, 219, 142);
$theme-color: #eb5569;
$basic-color: #848484;
$basic-color-with-opacity: rgba(132, 132, 132, 0.5);
$base-color: white;


// FONTS
$light_font: 'Lato-Light';
$light_italic_font: 'Lato-LightItalic';
$regular_font: 'Lato-Regular';
$regular_italic_font: 'Lato-Italic';
