.filter-by-select {
    background: rgba(135, 219, 142, 0.5);        
    box-shadow: 0px 1px 1px $basic-color;
    border: none;
    line-height: 2rem;
    height: 2rem;
    font-size: 1.15rem;
    width: 12rem;
}