
.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .navbar-navlink {
        position: fixed;
        z-index: 5;
        bottom: 3%;
        right: 3%;

        background-color: $theme-color;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0px 1px 4px $basic-color;
        
        color: $base-color;
        font-family: $regular_font;
        letter-spacing: 2px;
    }

    .last-update-time {
        margin: 0;
        line-height: 2rem;
        cursor: pointer;
    }
}